{% extends 'base.html' %}

{% block title %}
{{ tag.name }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>{{ tag.name }}</h1>
        <div>
            {% if tag.articles %}
            <h4> Articles with tag: </h4>
            <ul>
                {% for article in tag.articles %}
                <li>
                    <a href="{{ url_for('articles_app.details', article_id=article.id)}}">{{article.title}} </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {% if 'tags' in request.referrer %}
            <a href="{{ url_for('tags_app.list') }}">Back to tags list</a>
            {% endif %}
            {% if 'articles' in request.referrer %}
            <a href="{{ url_for('articles_app.details', article_id=request.referrer.strip('/').split('/')[-1]) }}">Back to article</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}