{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>{{ article.title }}</h1>
        <p>{{ article.text }}</p>
	Published: {{ article.created_at }} <br>
        Author: <a href="{{ url_for('authors_app.details', author_id=article.author_id) }}">{{article.author.user.username}}</a>
        <div>
            <a href="{{ url_for('articles_app.list') }}">Back to articles list</a>
        </div>
    </div>
</div>
{% endblock %}
